{{ post.description|raw }}

<div id="pictures">
    {% for picture in post.pictures %}
        <a href="/{{ picture.webPath() }}">
            <img src="{{ picture.webPath() | imagine_filter('xs') }}"/>
        </a>
    {% endfor %}
</div>
